@import '_normalize';

$text-font: 'Poppins', sans-serif;
$text-color: #000;

$cont: #212534;
$bg-c: #292d3e;

* {
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

html {
  height: 100%;
  font-size: 10px;
}

body {
  font: 400 1.8rem/1.6 $text-font;
  min-height: 100%;
  color: $text-color;
}

.container {
  background-color: #ffffff;
  margin: 0 auto;
}

.title {
  text-align: center;
  text-transform: uppercase;
  span {
    font-weight: 600;
    color: #303030;
  }
  h1 {
    font-size: 8.6rem;
    line-height: 1;
    margin: 20px 0;
  }
}

.slide {
  image {
    width: 440px;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: block;
    .image-hover {
      background-color: rgba(27, 241, 173, 0.7);
      position: relative;
      &-text {
        position: absolute;
      }
    }
    img {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
    }
  }

}






